<%= simple_form_for @purchase_order, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :order_number, label: '進貨單號' %>
  <%= f.association :supplier, label: '供應商' %>
  <%= f.association :ship_to, label: '收貨地點', collection: Location.where(locationable_id: current_company.id, holds_stock: true) %>
  <%= f.association :bill_to, label: '收發票地點', collection: Location.where(locationable_id: current_company.id) %>
  <%= f.input :contact_email, label: '聯絡 email' %>

  <div class="form-group string required purchase_order_due_on <%= 'has-error' if @purchase_order.errors.messages[:due_on].present? %>">
    <label class="optional col-sm-2 control-label required" for="purchase_order_due_on">
      <abbr title="required">*</abbr> 收貨日
    </label>
    <div class="col-sm-2">
      <%= f.input_field :due_on,
        as: :string,
        class: 'form-control string date required datepicker',
        value: (Time.zone.today + 14.days).to_s
      %>
      <%= content_tag(:span, '請填寫收貨日', class: 'help-block') if @purchase_order.errors.messages[:due_on].present? %>
    </div>
  </div>

  <hr />

  <div id="details">
    <%= f.simple_fields_for :details do |detail| %>
      <%= render 'detail_fields', :f => detail %>
    <% end %>
    <div class="col-sm-offset-2">
      <%= link_to_add_association '加入貨品於此訂單', f, :details, class: 'btn btn-default btn-sm' %>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.button :submit, "建立進貨單", class: 'btn-success', name: 'active' %>
      或
      <%= f.button :submit, "存為草稿", class: 'btn btn-default', name: 'draft' %>
    </div>
  </div>
<% end %>

<%= render 'common/init_datepicker' %>
