<form action="/purchase_orders/<%= @purchase_order.id %>/receive", method='post'>
  <% @purchase_order.details.each do |detail| %>
    <br>
    <span><%= detail.item.name %></span><br>
    保存期限
    <input type="date" name="detail[expiry_date][<%= detail.id %>]", value="<%= detail.expiry_date.to_s || 7.days.from_now.to_date.to_s %>">
    <br>
    <%= select_tag(
      "detail[bin_location_id][#{detail.id}]",
      options_for_select(
        current_company.locations.find_by(id: @purchase_order.ship_to_location_id).bin_locations.map { |bl| ["#{bl.location.name} #{bl.name}", bl.id] }
      )
    ) %>
    <br>
  <% end %>

  <br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit", value='確認收貨'>
</form>
