<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>訂單編號</dt><dd><%= @purchase_order.order_number %></dd>
      <dt>供應商</dt><dd><%= @purchase_order.supplier.name %></dd>
      <dt>送貨地點</dt><dd><%= @purchase_order.ship_to.name %></dd>
      <dt>發票寄送地點</dt><dd><%= @purchase_order.bill_to.name %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>預計送達時間</dt><dd><%= @purchase_order.due_on %> ago</dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>聯絡email</dt><dd><%= @purchase_order.contact_email %></dd>
    </dl>
  </div>
</div>

<div class="row table-container">
  <table class="table table-hover tr-link">
    <thead>
      <tr>
        <th>名稱</th>
        <th>數量</th>
        <th>到貨後總數量</th>
        <th>進貨單價</th>
        <th>總價</th>
      </tr>
    </thead>
    <tbody>
    <% @purchase_order.details.each do |detail| %>
      <tr>
        <td><%= "#{detail.variant.sku} #{detail.variant.name}".strip %></td>
        <td><%= detail.quantity %></td>
        <td>Not implemented yet</td>
        <td><%= detail.cost_per_unit %></td>
        <td>Not implemented yet</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%#= button_to "新增其他款式", new_item_variant_path(@item), method: :get, class: 'btn btn-default center-block' %>
</div>
