<div class="col-md-12">
  <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1>撿貨單</h1>
          <label>訂單編號</label><span class="m-l"><%= @sales_order.order_number %></span>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h3><%= @sales_order.ship_from_location.name %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>品名</th>
                <th>數量</th>
                <th>SKU</th>
                <th>有效期限</th>
              </tr>
            </thead>
            <tbody>
            <% @sales_order.line_item_commitments.each do |commitment| %>
              <tr>
                <td><%= commitment.item.name %></td>
                <td><%= commitment.quantity %></td>
                <td><%= commitment.item.sku %></td>
                <td><%= commitment.variant.expiry_date %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <span>建立時間：<%= @sales_order.created_at %></span>
          </div>
        </div>
      </div>
  </div>
</div>
