
<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>貨品名稱</dt><dd><%= @item_series.name %></dd>
      <dt>製造商</dt><dd><%= @item_series.manufacturer.name %></dd>
      <dt>品牌</dt><dd><%= @item_series.brand.name %></dd>
      <dt>SKU</dt><dd><%= @item_series.sku %></dd>
      <dt>儲運條件</dt><dd><%= @item_series.storage_and_transport_condition_in_chinese %><%= "(#{@item_series.storage_and_transport_condition_note})" if @item_series.storage_and_transport_condition == 'other' %></dd>
      <dt>原料</dt><dd><%= @item_series.raw_material %></dd>
      <dt>食品添加物</dt><dd><%= @item_series.food_additives %></dd>
      <dt>警語</dt><dd><%= @item_series.warnings %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>最後修改時間</dt><dd><%= time_ago_in_words(@item_series.updated_at) %> ago</dd>
    </dl>
  </div>
</div>

<div id="item-table">
  <div class="row table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-1">名稱</th>
          <th class="col-sm-1">SKU</th>
          <th class="col-sm-1">買進價</th>
          <th class="col-sm-1">批發價</th>
          <th class="col-sm-1">零售價</th>
          <th class="col-sm-1">單位庫存成本</th>
          <th class="col-sm-1">可用數量</th>
          <th class="col-sm-1">在庫數量</th>
          <th class="col-sm-1">低庫存警示量</th>
          <th class="col-sm-1">狀態</th>
        </tr>
      </thead>
      <tbody>
        <!-- Existing items -->
        <tr v-for="item in items">
          <td class="col-sm-1">{{ item.name }}</td>
          <td class="col-sm-1">{{ item.sku }}</td>
          <td class="col-sm-1">{{ item.purchase_price }}</td>
          <td class="col-sm-1">{{ item.wholesale_price }}</td>
          <td class="col-sm-1">{{ item.retail_price }}</td>
          <td class="col-sm-1">{{ item.cost_per_unit }}</td>
          <td class="col-sm-1">{{ item.available_count }}</td>
          <td class="col-sm-1">{{ item.on_hand_count }}</td>
          <td class="col-sm-1">{{ item.low_stock_alert_level }}</td>
          <td class="col-sm-1">{{ item.status }}</td>
        </tr>
        <!-- New item form -->
        <tr v-for="new_item in new_items">
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="text" v-model="new_items[$index].name"></td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="text" v-model="new_items[$index].sku"></td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].purchase_price"></td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].wholesale_price"></td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].retail_price"></td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].cost_per_unit"></td>
          <td class="col-sm-1"></td>
          <td class="col-sm-1">
              <input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].on_hand_count">
              <button class="col-sm-12 btn btn-sm btn-default" data-toggle="modal" data-target="#new-item-location-modal-{{$index}}">進階庫存設定</button>
          </td>
          <td class="col-sm-1"><input class="col-sm-12 form-control input-sm" type="number" v-model="new_items[$index].low_stock_alert_level"></td>
          <td class="col-sm-1"><button class="btn btn-sm btn-default" v-on:click="submitItemForm($index)">儲存</button></td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <input id="item-series-id" type="hidden" value="<%= @item_series.id %>">
    <button class="btn btn-default btn-md" v-on:click="addNewItemForm">新增商品</button>
  </div>


  <!-- Item location modal -->
  <div v-for="new_item in new_items" class="modal inmodal" id="new-item-location-modal-{{$index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <h4 class="modal-title">庫存設定</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered" id="new-item-table">
            <thead>
              <tr>
                <th>數量</th>
                <th>期效</th>
                <th>倉庫</th>
                <th>倉位</th>
                <th>輸入許可證號碼</th>
                <th>報單號碼</th>
                <th>項次</th>
                <th>批號</th>
                <th>出口代碼</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="number" style="width: 50px" min="0"></td>
                <td><input type="date"></td>
                <td>
                  <select>
                    <option value="0">--選取倉庫--</option>
                    <option value="1">小倉庫</option>
                  </select>
                </td>
                <td>
                  <select>
                    <option value="0">--選取倉位--</option>
                    <option value="1">小倉位</option>
                  </select>
                </td>
                <td><input type="text" size="10"></td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">新增</button>
        </div>
      </div>
    </div>
  </div>


  <%= render 'common/vue_data' %>

</div>
