<div class="row">
  <%= link_to "移動庫存", new_stock_transfer_path, class: 'btn btn-default btn-md' %>
</div>

<div class="row table-container">
  <table class="table table-hover tr-link">
    <thead>
      <tr>
        <th>移動庫存單單號</th>
        <th>移動起點</th>
        <th>移動終點</th>
        <th>狀態</th>
        <th>數量</th>
        <th>更新時間</th>
        <th>轉移完成時間</th>
      </tr>
    </thead>
    <tbody>
    <% @stock_transfers.each do |st| %>
      <tr data-link="<%= stock_transfer_path(st) %>">
        <td><%= st.order_number %></td>
        <td><%= st.source_location.name %></td>
        <td><%= st.destination_location.name %></td>
        <td><%= st.status.humanize %></td>
        <td><%= st.updated_at %></td>
        <td><%= st.transferred_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
