<%= simple_form_for @stock_transfer, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :order_number, label: '庫存貨品移動單單號' %>
  <%= f.association :source_location, label: '移動起點', collection: Location.where(locationable_id: current_company.id, holds_stock: true) %>
  <%= f.association :destination_location, label: '移動終點', collection: Location.where(locationable_id: current_company.id, holds_stock: true) %>

  <div class="form-group string required purchase_order_due_on <%= 'has-error' if @stock_transfer.errors.messages[:due_on].present? %>">
    <label class="optional col-sm-2 control-label required" for="purchase_order_due_on">
      <abbr title="required">*</abbr> 預估移動完成日期
    </label>
    <div class="col-sm-2">
      <%= f.input_field :expected_transfer_date,
        as: :string,
        class: 'form-control string date required datepicker',
        value: (Time.zone.today).to_s
      %>
      <%= content_tag(:span, '請填寫預估移動完成日期', class: 'help-block') if @stock_transfer.errors.messages[:expected_transfer_date].present? %>
    </div>
  </div>

  <hr />

  <div id="details">
    <%= f.simple_fields_for :details do |detail| %>
      <%= render 'detail_fields', :f => detail %>
    <% end %>
    <div class="col-sm-offset-2">
      <%= link_to_add_association '加入欲移動貨品', f, :details, class: 'btn btn-default btn-sm' %>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.button :submit, "建立庫存貨品移動單", class: 'btn-success' %>
    </div>
  </div>
<% end %>

<%= render 'common/init_datepicker' %>
