<%= simple_form_for object, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
<%= f.input :manufacturing_date, label: '製造日期' %>
<%= f.input :expiry_date,        label: '保存期限' %>
<%= f.input :quantity,           label: "數量 (單位：#{object.first.unit})" %>
<%= f.association :locations,    label: '存放地點', collection: current_company.locations.holds_stock, as: :radio_buttons, required: true %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
