<%= simple_form_for @item, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name,               label: '貨品名稱', placeholder: '例: iPhone 6s' %>
  <%= f.association :item_type, label: '貨品類型', collection: ItemType.where(company_id: current_company.id) %>
  <%= f.association :supplier,     label: '供應商', collection: current_company.suppliers %>
  <%= f.association :brand,        label: '品牌' %>
  <%= f.input :description,        label: '其他資訊', input_html: { rows: '5' } %>
  <hr />
  <%= f.simple_fields_for :variants do |ff| %>
    <%= ff.input :sku,                   label: 'SKU', as: :string, placeholder: '例: ABC123' %>
    <%= ff.input :name,                  as: :hidden, input_html: { value: '預設款式'} %>
    <!-- TODO: 現有庫存每單位成本或現有庫存若有缺少，需有錯誤訊息，待補 -->
    <%= ff.input :cost_per_unit,   label: '現有庫存每單位成本', as: :integer, input_html: { min: 0, placeholder: 0 } %>
    <%= ff.input :on_hand_count,   label: '現有庫存數量',      as: :integer, input_html: { min: 0, placeholder: 0 } %>
    <%= ff.input :buy_price,       label: '進貨價', as: :integer, input_html: { min: 0, placeholder: 0 } %>
    <%= ff.input :wholesale_price, label: '批發價', as: :integer, input_html: { min: 0, placeholder: 0 } %>
    <%= ff.input :retail_price,    label: '零售價', as: :integer, input_html: { min: 0, placeholder: 0 } %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.button :submit, '建立貨品', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
