<%= simple_form_for @item, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name,                label: '貨品名稱', placeholder: '例: iPhone 6s' %>
  <%= f.association :item_type,     label: '貨品類型', collection: ItemType.where(company_id: current_company.id) %>
  <%= f.association :supplier,      label: '供應商', collection: current_company.suppliers %>
  <%= f.association :brand,         label: '品牌' %>
  <%= f.input :unit,                label: '單位', placeholder: '箱、包、個' %>
  <%= f.input :sku,                 label: 'SKU', as: :string, placeholder: '例: ABC123' %>
  <%#= f.input :on_hand_count,       label: '現有庫存數量', as: :integer, input_html: { min: 0, placeholder: 0 } %>
  <%= f.input :description,         label: '其他資訊', input_html: { rows: '5' } %>
  <%#= f.input :initial_location_id, label: '現有庫存地點', collection: current_company.locations.holds_stock, required: true %>
  <hr />
  <%#= f.simple_fields_for :variants do |ff| %>
    <!-- TODO: 現有庫存若有缺少，需有錯誤訊息，待補 -->
    <%#= ff.input :manufacturing_date,  label: '製造日期' %>
    <%#= ff.input :expiry_date,         label: '保存期限' %>
  <%# end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.button :submit, '建立貨品', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
