<div class="row">
  <div class="col-md-1">
    <%= image_tag @item.image.small.url, size: '80x80' if @item.image.present? %>
    <%= form_for @item, url: upload_image_item_path(@item), method: :post do |f| %>
      <%= f.file_field :image %>
      <%= f.submit '上傳', disabled_with: '上傳中...' %>
    <% end %>
    <% if alert %><span><%= alert %><%= ": #{@item.errors.full_messages}" if @item.errors.full_messages.present? %></span><% end %>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>貨品名稱</dt><dd><%= @item.name %></dd>
      <dt>製造商</dt><dd><%= @item.manufacturer.name %></dd>
      <dt>品牌</dt><dd><%= @item.brand.name %></dd>
      <dt>SKU</dt><dd><%= @item.sku %></dd>
      <dt>儲運條件</dt><dd><%= @item.storage_and_transport_condition_in_chinese %><%= "(#{@item.storage_and_transport_condition_note})" if @item.storage_and_transport_condition == 'other' %></dd>
      <dt>原料</dt><dd><%= @item.raw_material %></dd>
      <dt>食品添加物</dt><dd><%= @item.food_additives %></dd>
      <dt>警語</dt><dd><%= @item.warnings %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>最後修改時間</dt><dd><%= time_ago_in_words(@item.updated_at) %> ago</dd>
    </dl>
  </div>

  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>其他資訊</dt><dd><%= @item.description %></dd>
    </dl>
  </div>
</div>

<div class="row table-container">
  <table class="table">
    <thead>
      <tr>
        <th>期效</th>
        <th>數量</th>
        <th>輸入許可證號碼</th>
        <th>報單號碼</th>
        <th>項次</th>
        <th>批號</th>
        <th>出口代碼(施工中)</th>
      </tr>
    </thead>
    <tbody>
    <% @item.variants.each do |variant| %>
      <tr>
        <td><%= variant.expiry_date %></td>
        <td>
          <%= variant.quantity %><br>
          <% variant.location_variants.each do |lv| %>
            <small class="text-muted"><%= lv.quantity %> in <%= "#{lv.bin_location.location.name} #{lv.bin_location.name}" %></small>
            <br>
          <% end %>
        </td>
        <td><%= variant.import_admitted_notice_number %></td>
        <td><%= variant.goods_declaration_number %></td>
        <td><%= variant.item_number %></td>
        <td><%= variant.lot_number %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
