<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>貨品名稱</dt><dd><%= @item.name %></dd>
      <dt>貨品類型</dt><dd><%= @item.item_type.name %></dd>
      <dt>供應商</dt><dd><%= @item.supplier.name %></dd>
      <dt>品牌</dt><dd><%= @item.brand.name %></dd>
      <dt>單位</dt><dd><%= @item.unit %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>最後修改時間</dt><dd><%= time_ago_in_words(@item.updated_at) %> ago</dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>其他資訊</dt><dd><%= @item.description %></dd>
    </dl>
  </div>
</div>

<div class="row table-container">
  <table class="table">
    <thead>
      <tr>
        <th>製造日期</th>
        <th>保存期限</th>
        <th>數量<%= " (#{@item.unit})" if @item.unit %></th>
      </tr>
    </thead>
    <tbody>
    <% @item.variants.each do |variant| %>
      <tr>
        <td><%= variant.manufacturing_date %></td>
        <td><%= variant.expiry_date %></td>
        <td>
          <%= variant.quantity %><br>
          <% variant.location_variants.each do |lv| %>
            <small class="text-muted"><%= lv.quantity %> in <%= lv.location.name %></small>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
