<%= simple_form_for @location, wrapper: 'horizontal_form', html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name,        label: '據點名稱', placeholder: '例: 辦公室、倉庫' %>
  <%= f.input :zip,         label: '郵遞區號' %>
  <%= f.association :city,  label: '城市', collection: City.all %>
  <%= f.input :address,     label: '地址' %>

  <div class="col-sm-offset-2 col-sm-10">
    <!-- FIXME: This is a bad practice to handle the position of checkbox -->
    <!-- please refer to http://getbootstrap.com/css/#forms and https://github.com/plataformatec/simple_form to refactor -->
    <%= f.input :holds_stock, label: '含倉庫？' %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
