<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">GTP</h1>

        </div>
        <h3>註冊帳號</h3>
        <p><%= @user.errors.full_messages.join('. ') if @user && @user.errors.any? %></p>
        <p>Create account to see it in action.</p>

        <%= form_tag users_registrations_path, method: :post, class: "m-t", role: "form" do %>
            <div class="form-group">
                <%= text_field_tag :email, @user.try(:email), class: "form-control", placeholder: 'Email' %>
            </div>
            <div class="form-group">
                <%= password_field_tag :password, nil, class: "form-control", placeholder: '密碼' %>
            </div>
            <div class="form-group">
                <%= password_field_tag :password_confirmation, nil, class: "form-control", placeholder: '確認密碼' %>
            </div>
            <div class="form-group">
                <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <%= submit_tag "註冊", class: "btn btn-primary block full-width m-b" %>
          <% end %>
          
          <p class="text-muted text-center"><small>已經有帳號了？</small></p>
          <%= link_to "登入", new_users_session_path, class: "btn btn-sm btn-white btn-block" %>

        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
